
<div class="admin_article">
	<div class="admin_article_input">
		<div>
			标题： <input id="admin_title" type="text" />
		</div>
		<div>
			作者： <input id="admin_author" type="text" />
		</div>
		<div>
			分类： <input id="admin_type" type="text" />
		</div>
		<div>
			标签： <input id="admin_tags" type="text" />
		</div>
		<div>
			简介：<br />
			<textarea id="admin_introdu"></textarea>
		</div>
	</div>
	<!--上传文件-->
	<div class="admin_f_left">
	    <div id="fileList" class="uploader-list"></div>
	    <div id="filePicker">选择图片</div>
	</div>
	
	<div class="admin_f_left">
		<div>请选择上传markdown文件：</div>
	    <div id="thelist" class="uploader-list"></div>
	    <div class="btns">
	        <div id="picker">选择文件</div>
	        <button id="ctlBtn" class="btn btn-default">开始上传</button>
	    </div>
	</div>
	<div>
		<a href="/edit" style="color:#0000FF;">编辑其他</a>
	</div>
	<!--footer-->
   	<% include ../common/footer %>
</div>