
<div class="adminLogin mcenter">
	<div>
		用户名<input id="useranme" type="text"/><br />
		密&nbsp;&nbsp;&nbsp;&nbsp;码<input id="password" type="password"/>
	</div>
	<div class="loginDiv mcenter">
		<div id="loginBtn" class="fl">登录</div>
		<div class="fl">注册</div>
	</div>
</div>