
<div class="edit">
	<div class="edit_title">Home-left</div>
	<div class="edit_text">
		<textarea id="orgText">
<%=JSON.stringify(org)%>
		</textarea>
	</div>
	<div class="edit_btn">
		<div id="orgBtn">提交</div>
	</div>
	
	<div class="edit_title">Home-推荐</div>
	<div class="edit_text">
		<textarea id="suggestText">
<%=JSON.stringify(suggest)%>
		</textarea>
	</div>
	<div class="edit_btn">
		<div id="suggestBtn">提交</div>
	</div>
	
	<div class="edit_title">Picture-推荐</div>
	<div class="edit_text">
		<textarea id="picText">
<%=JSON.stringify(picpages)%>
		</textarea>
	</div>
	<div class="edit_btn">
		<div id="picBtn">提交</div>
	</div>
	
	
</div>