<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<title>wiki</title>
	<link type="text/css" href="css/common/base.css" rel="stylesheet"/>
	<link type="text/css" href="css/home/left.css" rel="stylesheet"/>
	</head>
<body>
	<!--header-->
   	<% include ../common/header %>
   	<!--left-->
   	<% include left %>
   	
   	<script data-main="lib/home" src="js/require.js" defer async="true"></script>
</body>
</html>