<header>
	<span>
		<a href="/">主页</a>
	</span>
	<span>
		<a href="/">专题</a>
	</span>
	<span>
		<a href="/detail">详情</a>
	</span>
	<span>
		<a href="/detail">其他</a>
	</span>
	<span>
		<a href="/">关于</a>
	</span>
</header>

