<header>
	<span class="menu_selected">
		<a href="/">主页</a>
	</span>
	<span>
		<a href="/list">列表</a>
	</span>
	<span>
		<a href="/list">详情</a>
	</span>
	<span>
		<a href="/list">关于</a>
	</span>
</header>

