body{
	margin:0;
	padding:0;
	font-size:13px;
	color:#555555;
	font-family: "times new roman","lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

header{
	width:55px;
	height:100%;
	background-color:#2A2A2A;
	position:fixed;
	top:0;
	bottom:0;
	left:0;
}

header span{
	display:block;
	width: 55px;
	line-height:36px;
	color:#ccc;
	cursor:pointer;
	text-align:center;
}


header span:nth-child(1){
	margin-top:20px;
}



.mcenter{
	margin-left:auto;
	margin-right:auto;
}

.fl{
	float: left;
}

.fr{
	float:right;
}

a{
	text-decoration:none;
}

a:hover{
	color:#ccc;
}
a:visited{
	color:#ccc;;
}

a:active{
	color:#ccc;
}

.menu_selected{
	background-color:#0000FF;
}

.menu_selected a{
	color:#fff;
}

header span a{
	color:#CCC;
	display: block;
	width:55px;
}

header span:hover{
	background-color:#0000FF;
	color: #fff;
}

footer{
	width:100%;
	height:80px;
}
footer div{
	width:250px;
	line-height:80px;
}



