
<section id="home_left_panel" class="home_left">
	<div class="home_avatar">
		<img src="imgs/logo.png" class="mcenter"/>
	</div>
	<div class="home_left_username">
		<span class="mcenter">vczero</span>
	</div>
	<div class="home_star">
		<div class="mcenter">
			<span>+ 关注微博</span>
			<span>=</span>
		</div>
	</div>
	<div class="home_intro">
		<p>
			人生难得3万日,青春区区5千天。谁说前端是很low的，有种放学别走，信不信我打你，我有n多大哥。
		</p>
		 <p>
		 	php是世界上最好的语言(我算是怕你们了...)，php自动纳入前端，自豪～
		 </p>
	</div>
	<div class="home_left_starlink">
		<div class="mcenter">
			<i></i>
		</div>
	</div>
	<div class="home_fllow_star">
		<div class="mcenter">
			<span>28</span>
			<span>740</span><br />
			<span class="home_star_top">关注</span>
			<span class="home_star_top">粉丝</span>
		</div>
	</div>
	<div class="home_fllow_count">
		<div class="mcenter">
			文章：1229  
			字数：8990000000
		</div>
	</div>
	<div class="home_article_list">
		<div>
			<span>我的文章</span>
			<ul>
				<li>
					<i></i>
					<span>node.js编程123</span>
				</li>
				<li>
					<i></i>
					<span>js Framework</span>
				</li>
				<li>
					<i></i>
					<span>php是世界上最好的语言</span>
				</li>
				<li>
					<i></i>
					<span>有种放学别走</span>
				</li>
				<li>
					<i></i>
					<span>有种放学别走</span>
				</li>
			</ul>
		</div>
	</div>
</section>
<div id="home_left_control" class="home_left_controller">
	<div class="home_left_del"></div>
</div>