
<section id="home_container" class="home_container_div">
	 <div class="home_pages_list">
	 	<div class="home_pages_tip">
	 		<div>文章列表</div>
	 		<div class="home_pages_tip_hr">
	 			<div class="fl"></div>
	 			<div></div>
	 		</div>
	 	</div>
	 	<%for(var i = 0; i < 10; i++){%>
	 	 <div class="home_pages_page">
	 	 	<div>致即将毕业的你</div>
	 	 	<div>
	 	 		公司新招聘的设计助理最近在朋友圈发了毕业设计任务完成进度计划，准确来说是被完成。
	 	 		表弟也有咨询我应届生就业，以及实习等事宜。 我是2012年7月1日正式毕业，2011年10
	 	 		月15日我二十周岁生日这天来到上海实习，算来至今也有三个多年头了。
	 	 	</div>
	 	 	<div>
	 	 		<span>vczero</span>
	 	 		<span>加油， 努力.</span>
	 	 		<span>2015-05-01 16:52</span>
	 	 	</div>
	 	 </div>
	 	 <div class="home_pages_hr"></div>
	 	 <%}%>
	 </div>
	  <div class="home_photo_list">
	  	<%for(var i = 1; i < 4; i++){%>
	  	<div>
			<img src="imgs/p2.jpg"/>
			<p>node活学活用</p>
		</div>
		<%}%>
	  </div>
</section>