
<div class="detail_comment">
	<div class="detail_comment_title">评论</div>
	<div class="detail_comment_hr">
		<div class="fl"></div>
		<div class="fl"></div>
	</div>
	
	<div class="detail_comment_textarea">
		<div>
			用户名： <input id="username" type="text"/>
			(乐于分享和开源是程序员的本质，请留下你的大名，比如：github账号、微博、博客等)
		</div>
		<div>
			<textarea id="comment" maxlength="400"></textarea>
		</div>
		<div class="detail_comment_submit">
			<div id="commentBtn" class="fr">提交</div>
		</div>
		<%for(var i = 0; i < comments.length; i++){%>
		<div class="detail_comment_item">
			<div><%=comments[i].comment%></div>
			<div>
				<span><%=comments[i].username%>&nbsp;</span>
				<span><%=comments[i].time%></span>
			</div>
			<div class="detail_comment_count"><%=comments.length - i%></div>
		</div>
		<%}%>
	</div>
	<!--footer-->
   	 <% include ../common/footer %>
</div>